* {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: rgb(43, 43, 255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #60a9ff;
}

.pricing-img {
  width: 60%;
}

.panel {
  background-color: aliceblue;
  margin: auto;
  margin-top: 10vh;
  height: 80vh;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 1rem;
}

.pricing-plan {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.pricing-plan:nth-of-type(1)::after,
.pricing-plan:nth-of-type(2)::after {
  content: '';
  position: absolute;
  border-right: 1px solid lightskyblue;
  height: 80%;
  right: 0;
}

.pricing-header {
  font-size: 1rem;
  font-weight: lighter;
  color: dimgrey;
  letter-spacing: 0.1rem;
}

.pricing-features-item {
  font-size: 0.7rem;
  padding: 1rem;
  margin: auto 3rem;
  text-align: center;
  position: relative;
}

.pricing-features-item::before,
.pricing-features-item:last-child::after {
  content: '';
  position: absolute;
  border-bottom: 1px dotted lightskyblue;
  width: 90%;
  top: 0;
  left: 0.5rem;
}

.pricing-features-item:last-child::after {
  top: 3rem;
}

.pricing-price {
  font-size: 2rem;
  font-weight: bold;
}

.pricing-button {
  border: 1px solid #60a9ff;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.pricing-button:hover {
  background-color: rgb(216, 225, 252);
  border-color: rgb(216, 225, 252);
}

.pricing-plan:nth-of-type(2) .pricing-button {
  background-color: #60a9ff;
  color: aliceblue;
}

.pricing-plan:nth-of-type(2) .pricing-button:hover {
  background-color: #4e8ed8;
  border-color: #4e8ed8;
}

@media (max-width: 900px) {
  .panel {
    flex-direction: column;
  }
  .panel {
    margin: 0;
    height: 100%;
  }
  .pricing-plan:nth-of-type(1)::after,
  .pricing-plan:nth-of-type(2)::after {
    border: none;
  }
  .pricing-features-item {
    margin: auto 1rem;
  }
}
